<html lang="pt-br">
    <%- include('../partials/head'); %>
    <body class="d-flex flex-column h-100">
        <%- include('../partials/header'); %>
        <main class="container text-start">
            <h1>Sobre mim:</h1>
            <p>Eu sou Caique Ferreira e estou aprendendo NodeJs.</p>
        </main>
        <%- include('../partials/footer'); %>
    </body>
</html>